.user-profile {
  width: 100%;
  .user-profile__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    .user-profile__header-column:nth-child(1) {
      display: flex;
      align-items: center;
    }
    .profile__username {
      font-size: 24px;
      margin-left: 10px;
      color: $font-darkmode;
    }
  }

  .user-profile__main {
    display: flex;
    height: 340px;
    padding: 40px 0px;
    border-bottom: 1px solid $black;
    margin-bottom: 30px;
    .main-video {
      .videoPlayer {
        width: 420px;
        height: 240px;
      }
    }
  }

  .uploaded-video {
    margin-bottom: 20px;
    span {
      font-size: 16px;
      color: $font-darkmode;
    }
  }
  .user-profile__btns {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
    a:not(:last-child) {
      margin-bottom: 10px;
    }
    button {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
