$red: #ea232c;
$dark-red: #bb2f2a;
$grey: #f5f5f5;
$black: #444444;
$dark-grey: #e7e7e7;
$metadata: #aaaaaa;

// backgorund-color
$bg-dark: #101010;
$bg-header-dark: #202020;

// font-color
$font-darkmode: #ffffff;
